* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.item {
  width: 200px;
  height: 70px;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: 200px; */
  /* flex-grow: 1; 0 ou 1 */
}
.item1 {
  order: 2;
  /* flex-shrink: 2; DIMINUIÇÃO - com o wrap, isso não é necessário */
  align-self: flex-end; /*alinhamento pronto na vertical*/
}
.item2 {
  flex: 1 0 400px; /*0 não deixa espaço disponível - item 2 toma todo o espaço disponivel - 200 flex basis trava*/
  order: 3;
}
.item3 {
  order: 1;
}
@media (max-width: 390px) {
  .item2 {
    flex: 1 0 620px;
  }
}
