* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: grey;
  min-height: 100vh;
  display: grid; /*preenche a tela*/
  /* grid-template-columns: 25% 50% 25%; */
  /* grid-template-columns: 1fr 2fr 1fr; frame */
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  /* grid-template-rows: 1fr 2fr 1fr; */
  /* grid-template-rows: repeat(3, 1fr); */
  grid-auto-rows: minmax(210px, 240px);
}
.item {
  border: 2px solid black;
  background-color: white;
  font-size: 30px;
  padding: 10px;
}
